<div class="container contact">
  <p></p>
  <form class="col s12" (submit)="onSubmit()">
    <div class="row">
      <div class="input-field col s12">
        <input
          id="input-title"
          name="input-title"
          type="text"
        />
        <label for="input-title" class="active">Título</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input
          id="input-description"
          name="input-description"
          type="text"
        />
        <label for="input-description" class="active">Descrição</label>
      </div>
    </div>
    <button class="btn waves-effect waves-light deep-purple darken-4" type="submit">
      Cadastrar
    </button>
  </form>
</div>
